{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0
  }
}
